{
    "$schema": "schemas/logic_function.schema.json",
    "logic_function": {
        "name": "${name}",
        "description": "${description}",
        "source": {
            "type": "JavaScript"
        },
        "enabled": true,
        "api_username": null,
        "secrets": null,
        "use_env": null,
        "logic_triggers": []
    }
}
