name: Build Package

on: [workflow_call]
env:
  E2E_DEVICE_ID: ${{ secrets.E2E_DEVICE_ID }}
  E2E_DEVICE_NAME: ${{ secrets.E2E_DEVICE_NAME }}
  E2E_DEVICE_PLATFORM_ID: ${{ secrets.E2E_DEVICE_PLATFORM_ID }}
  E2E_DEVICE_PLATFORM_NAME: ${{ secrets.E2E_DEVICE_PLATFORM_NAME }}
  E2E_FOREIGN_DEVICE_ID: ${{ secrets.E2E_FOREIGN_DEVICE_ID }}
  E2E_FOREIGN_DEVICE_NAME: ${{ secrets.E2E_FOREIGN_DEVICE_NAME }}
  E2E_FOREIGN_DEVICE_PLATFORM_ID: ${{ secrets.E2E_FOREIGN_DEVICE_PLATFORM_ID }}
  E2E_FOREIGN_DEVICE_PLATFORM_NAME: ${{ secrets.E2E_FOREIGN_DEVICE_PLATFORM_NAME }}
  E2E_FOREIGN_PASSWORD: ${{ secrets.E2E_FOREIGN_PASSWORD }}
  E2E_FOREIGN_USERNAME: ${{ secrets.E2E_FOREIGN_USERNAME }}
  E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
  E2E_PRODUCT_01_DEVICE_01_GROUP: ${{ secrets.E2E_PRODUCT_01_DEVICE_01_GROUP }}
  E2E_PRODUCT_01_DEVICE_01_ID: ${{ secrets.E2E_PRODUCT_01_DEVICE_01_ID }}
  E2E_PRODUCT_01_DEVICE_01_NAME: ${{ secrets.E2E_PRODUCT_01_DEVICE_01_NAME }}
  E2E_PRODUCT_01_DEVICE_01_PLATFORM_ID: ${{ secrets.E2E_PRODUCT_01_DEVICE_01_PLATFORM_ID }}
  E2E_PRODUCT_01_DEVICE_01_PLATFORM_NAME: ${{ secrets.E2E_PRODUCT_01_DEVICE_01_PLATFORM_NAME }}
  E2E_PRODUCT_01_DEVICE_02_GROUP: ${{ secrets.E2E_PRODUCT_01_DEVICE_02_GROUP }}
  E2E_PRODUCT_01_DEVICE_02_ID: ${{ secrets.E2E_PRODUCT_01_DEVICE_02_ID }}
  E2E_PRODUCT_01_DEVICE_02_NAME: ${{ secrets.E2E_PRODUCT_01_DEVICE_02_NAME }}
  E2E_PRODUCT_01_DEVICE_02_PLATFORM_ID: ${{ secrets.E2E_PRODUCT_01_DEVICE_02_PLATFORM_ID }}
  E2E_PRODUCT_01_DEVICE_02_PLATFORM_NAME: ${{ secrets.E2E_PRODUCT_01_DEVICE_02_PLATFORM_NAME }}
  E2E_PRODUCT_01_ID: ${{ secrets.E2E_PRODUCT_01_ID }}
  E2E_PRODUCT_01_NAME: ${{ secrets.E2E_PRODUCT_01_NAME }}
  E2E_USERNAME: ${{ secrets.E2E_USERNAME }}
jobs:
  linux-build:
    runs-on: ubuntu-latest  # Choose an appropriate runner
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Configure NPM Token
        run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: npm install

      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ~/.pkg-cache
          key: node22-pkg-${{ github.run_id }}
          restore-keys: node22-pkg-

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm,arm64

      - name: Set up ldid
        uses: MOZGIII/install-ldid-action@v1
        with:
          tag: v2.1.5-procursus7
      # Follow instructions are required to build linux and keep backwards compatibility with ubuntu 20.04
      - name: Build linux x64
        run: npx --yes @yao-pkg/pkg@6.3.2 . --target node22-linux-x64 -o build/particle-cli-linux-x64
      - name: Build linux arm64
        run: npx --yes @yao-pkg/pkg@6.3.2 . --target node22-linux-arm64 -o build/particle-cli-linux-arm64
      - name: Build linux armv7
        run: npx --yes @yao-pkg/pkg@6.3.2 . --target node22-linuxstatic-armv7 -o build/particle-cli-linuxstatic-armv7

      - name: Save Cache
        uses: actions/cache@v3
        with:
          path: ~/.pkg-cache
          key: node22-pkg-${{ github.run_id }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: not_signed_linux
          path: build/
  macos-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Configure NPM Token
        run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: npm install

      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ~/.pkg-cache
          key: node22-pkg-${{ github.run_id }}
          restore-keys: node22-pkg-
      - name: Build macos x64
        run: npm run build -- --target node22-macos-x64 -o build/particle-cli-macos-x64
      - name: Build macos arm64
        run: npm run build -- --target node22-macos-arm64 -o build/particle-cli-macos-arm64

      - name: Save Cache
        uses: actions/cache@v3
        with:
          path: ~/.pkg-cache
          key: node22-pkg-${{ github.run_id }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: not_signed_mac
          path: build/
  windows-sign:
    runs-on: windows-latest
    needs:
      - linux-build
      - macos-build
    steps:
      - uses: actions/checkout@v3
      - name: Install NSIS
        run: choco install nsis -y
      - name: Add NSIS to PATH
        shell: pwsh
        run: |
          echo "${env:ProgramFiles(x86)}\NSIS\Bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Configure NPM Token
        run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: npm install

      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ~/.pkg-cache
          key: node22-pkg-${{ github.run_id }}
          restore-keys: node22-pkg-
      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          path: build/
          merge-multiple: true
      - name: Build windows x64
        run: npm run build -- --target node22-windows-x64 -o build/particle-cli-windows-x64
      - name: Sign Windows Executable
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: ${{ secrets.AZURE_ENDPOINT }}
          trusted-signing-account-name: ${{ secrets.AZURE_CODE_SIGNING_NAME }}
          certificate-profile-name: ${{ secrets.AZURE_CERT_PROFILE_NAME }}

          # Sign all exes inside the folder
          files-folder: build
          files-folder-filter: exe

      - name: Generate Windows Installer
        run: makensis.exe installer\windows\ParticleCLISetup.nsi

      - name: Move Installer to Build Folder
        run: move installer\windows\ParticleCLISetup.exe build\ParticleCLISetup.exe

      - name: Sign Windows Installer
        uses: azure/trusted-signing-action@v0.5.0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: ${{ secrets.AZURE_ENDPOINT }}
          trusted-signing-account-name: ${{ secrets.AZURE_CODE_SIGNING_NAME }}
          certificate-profile-name: ${{ secrets.AZURE_CERT_PROFILE_NAME }}

          # Sign all exes inside the folder
          files-folder: build
          files-folder-filter: exe

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: build/
